%body
  .side_bar
    .side-bar_user-name
      .top-items__name masa
      .top-items__edit-icons 
        = icon('far', 'edit')
      .top-items__cog-icons
        = icon('fa', 'cog')
    .side-bar_group-list
      .top-items__group techcamp
      .top-items__message-info まだメッセージがありません
      